header
{
    height: 100px;

    vertical-align: middle;
}

.logo
{
    line-height: 100px;

    float: left;

    margin: auto;
}

.company-name
{
    font-size: 24px;
    font-weight: bold;
}

.head-nav
{
    float: right;
}

.head-nav-ul
{
    list-style: none;
}

.head-nav-ul li
{
    line-height: 100px;

    float: left;

    margin: 0 30px;
}

.head-nav-ul a
{
    padding: 10px 0;

    color: #333;
    border-bottom: 3px solid #fff;
}

.head-nav-ul a:hover
{
    color: #76b260;
    border-color: #76b260;
}

.head-nav-ul li.checked a
{
    color: #76b260;
    border-color: #76b260;
}

.banner
{
    width: 100%;
    min-width: 1200px;
    min-height: 420px;
    margin: 0 auto;
}

.am-slider-default
{
    margin-bottom: 0;
}

.am-slider-default .am-control-nav
{
    bottom: 20px;
}

.am-slider-default .am-control-nav li
{
    width: 14px;
    height: 14px;
}

.am-slider-default .am-control-nav li a
{
    width: 14px;
    height: 14px;

    border: 1px solid #fff;
    background-color: transparent;
}

.am-slider-default .am-control-nav li a:hover
{
    background-color: #eee;
}

.am-slider-default .am-control-nav li a.am-active
{
    border: 1px solid #5bb730;
    background-color: #5bb730;
}

.am-slider-default .am-direction-nav a
{
    width: 38px;
    height: 120px;
    margin: -60px 120px 0;

    vertical-align: middle;

    background-color: #3b464a;
}

.am-slider-default .am-direction-nav a:before
{
    line-height: 120px!important;

    height: 120px;

    content: '\f177';

    color: #fff;
}

.am-slider-default .am-direction-nav a.am-next:before
{
    content: '\F178';
}

.about
{
    position: relative;
}

.about-tit
{
    font-size: 0;

    position: absolute;
    top: -100px;

    width: 240px;
    height: 520px;

    background: url('../../img/asset/about1.png') no-repeat center center;
}

.about-info
{
    margin-left: 240px;
    padding: 55px 120px 0 120px;
}

.about-info h3
{
    margin: auto;
}

.about-info h3 span
{
    font-size: 22px;
    font-weight: normal;

    padding-left: 10px;

    border-left: 5px solid #5bb730;
}

.about-more
{
    font-size: 14px;

    width: 146px;
    height: 40px;
    margin-bottom: 170px;

    color: #333;
}

.about-more:hover
{
    color: #eee;
    background-color: #5bb730;
}

.products
{
    position: relative;
}
.products .w {
  position: relative
}
.products-tit
{
    font-size: 0;

    position: absolute;
    top: -140px;
    right: 0;

    width: 289px;
    height: 244px;

    background: url('../../img/asset/products1.png') no-repeat;
}
  .products-bg {
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    height: 410px;
    z-index: -1;
  }
  .products-goods {
    padding-top: 170px;
    position: relative;
  }
.products-good img {
  width: 285px;
  height: 240px;
  margin-bottom: auto; 
  padding: 0;  /* 可以去掉边框 */
}
.img-info {
  width: 285px;
  height: 90px;
  
  padding:30px 0 0 24px;
  background-color: #f2f2f2;
}
.img-info-tit {
  font-size: 14px;
  margin: 0 0 0.6rem 0;
}
.img-info .line{
  width: 20px;
  border-top: 4px solid #5bb730;
}