<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>久成生物-主页</title>

  <!--[if lte IE10]><script>window.location.href='https://support.dmeng.net/upgrade-your-browser.html';</script><![endif]-->
  <!--
        描述：head中无需再引入css以及facicon，webpack将根据入口JS文件的要求自动实现按需加载或者生成style标签
    -->
</head>

<body>
  <header>
    <div class="w">
      <h1 class="logo ">
        <a href="">
                    <img src="../img/asset/logo1.png">
				</a>
        <span class="company-name">北京久成生物科技有限公司</span>
      </h1>

      <nav class="head-nav">
        <ul class="head-nav-ul">
          <li class="checked"><a href="">首页</a></li>
          <li><a href="">关于我们</a></li>
          <li><a href="">产品展示</a></li>
          <li><a href="">新闻动态</a></li>
          <li><a href="">联系我们</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="main">
    <div class="banner">
      <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
          <li><img src="../../static/banner1.png" /></li>
          <li><img src="../../static/banner1.png" /></li>
        </ul>
      </div>

    </div>
    <div class="w">
      <div class="about">
        <h2 class="about-tit">
          公司概况
        </h2>
        <div class="about-info">
          <h3><span>关于久成</span></h3>
          <p class="about-info-txt">
            网博实景(北京)网络科技有限公司，自09年从事互联网技术及虚拟多维技术服务至今，业务不断壮大，营业额迅速突破千万元人民币，基于优良的业绩，在经过两年的精心策划与建设，于2015年6月在北京正式成立，是中国首家基于VR（虚拟现实）、AR（增强现实）及互联网技术的全产业商务应用服务商;公司自运营的开放式展销媒介平台及VR内容展示及制作平台，也为我们的客户提供了在线信息交流、技术分享、产品推介的快速通道。
            网博实景的项目核心运营团队有80多名优秀员工，其中90%以上是大学本科学历，30%以上是硕士学历;20%具有海外留学背景;公司员工平均年龄28岁;是一支有知识、有激情、有梦想的团队，我们坚信科技改变生活，我们引领科技。
          </p>
          <button href="" class="am-btn am-btn-default about-more">查看详情</button>
        </div>
      </div>


    </div>
    <div class="products">
      <div class="w ">
        <h2 class="products-tit">
          产品展示
        </h2>
      </div>
      <div class="products-bg"></div>
      <div class="w">
        <div class="products-goods">
          <ul class="am-avg-sm-4 am-thumbnails">
            <li class="products-good">
              <div class="products-good-img">
                <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
              </div>
              <div class="good-img-info">
                <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                <div class="good-line"></div>
              </div>
              <div class="img-hover ">
                <div class="img-hover-inner ">
                  <div class="img-hover-inner2"></div>
                </div>
              </div>
            </li>
            <li class="products-good">
              <div class="products-good-img">
                <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
              </div>
              <div class="good-img-info">
                <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                <div class="good-line"></div>
              </div>
              <div class="img-hover ">
                <div class="img-hover-inner ">
                  <div class="img-hover-inner2"></div>
                </div>
              </div>
            </li>
            <li class="products-good">
              <div class="products-good-img">
                <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
              </div>
              <div class="good-img-info">
                <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                <div class="good-line"></div>
              </div>
              <div class="img-hover ">
                <div class="img-hover-inner ">
                  <div class="img-hover-inner2"></div>
                </div>
              </div>
            </li>
            <li class="products-good">
              <div class="products-good-img">
                <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
              </div>
              <div class="good-img-info">
                <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                <div class="good-line"></div>
              </div>
              <div class="img-hover ">
                <div class="img-hover-inner ">
                  <div class="img-hover-inner2"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="news am-cf">
      <div class="w">
        <h2 class="news-tit">
          新闻动态
        </h2>

        <div class="news-main">
          <div class="news-main-l">
            <div class="am-slider am-slider-default" id="news-slider" data-am-flexslider="{directionNav:false}">
              <ul class="am-slides">
                <li><img src="/static/news-one2.png" />
                  <div class="am-slider-desc">这是标题标题标题标题标题标题标题0</div>
                </li>
                <li><img src="/static/news-one2.png" />
                  <div class="am-slider-desc">这是标题标题标题标题标题标题标题0</div>
                </li>
                <li><img src="/static/news-one2.png" />
                  <div class="am-slider-desc">这是标题标题标题标题标题标题标题0</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="news-main-r">

            <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
              <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="javascript: void(0)">公司动态</a></li>
                <li><a href="javascript: void(0)">行业动态</a></li>
                <span class="news-more"><a href="">More</a></span>
              </ul>

              <div class="am-tabs-bd">
                <div class="am-tab-panel am-active">
                  <ul class="am-list">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default">

                      <div class="am-list-news-bd">
                        <ul class="am-list">
                          <!--缩略图在标题左边-->
                          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-2 am-list-thumb">
                              <a href="" class=""><img src="/static/news-one.png" alt="我很囧，你保重....晒晒旅行中的那些囧！"/></a>
                            </div>
                            <div class=" am-u-sm-10 am-list-main">
                              <h3 class="am-list-item-hd"><a href="" class="">我很囧，你保重....晒晒旅行中的那些囧！</a></h3>
                              <div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
                            </div>
                          </li>
                          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-2 am-list-thumb">
                              <a href="" class=""><img src="/static/news-one.png" alt="我最喜欢的一张画"/></a>
                            </div>
                            <div class=" am-u-sm-10 am-list-main">
                              <h3 class="am-list-item-hd"><a href="" class="">我最喜欢的一张画</a></h3>
                              <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，画群296795413进群发画，少说多发图画群296795413进群发画，少说多发图</div>
                            </div>
                          </li>
                          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-2 am-list-thumb">
                              <a href="" class=""><img src="/static/news-one.png" alt="我最喜欢的一张画"/></a>
                            </div>
                            <div class=" am-u-sm-10 am-list-main">
                              <h3 class="am-list-item-hd"><a href="" class="">我最喜欢的一张画</a></h3>
                              <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
                            </div>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </ul>
                </div>
                <div class="am-tab-panel">
                  <ul class="am-list">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default">

                      <div class="am-list-news-bd">
                        <ul class="am-list">
                          <!--缩略图在标题左边-->
                          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-2 am-list-thumb">
                              <a href="" class=""><img src="/static/news-one.png" alt="我很囧，你保重....晒晒旅行中的那些囧！"/></a>
                            </div>
                            <div class=" am-u-sm-10 am-list-main">
                              <h3 class="am-list-item-hd"><a href="" class="">我很囧，你保重....晒晒旅行中的那些囧！</a></h3>
                              <div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
                            </div>
                          </li>
                          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-2 am-list-thumb">
                              <a href="" class=""><img src="/static/news-one.png" alt="我最喜欢的一张画"/></a>
                            </div>
                            <div class=" am-u-sm-10 am-list-main">
                              <h3 class="am-list-item-hd"><a href="" class="">我最喜欢的一张画</a></h3>
                              <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，画群296795413进群发画，少说多发图画群296795413进群发画，少说多发图</div>
                            </div>
                          </li>
                          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-2 am-list-thumb">
                              <a href="" class=""><img src="/static/news-one.png" alt="我最喜欢的一张画"/></a>
                            </div>
                            <div class=" am-u-sm-10 am-list-main">
                              <h3 class="am-list-item-hd"><a href="" class="">我最喜欢的一张画</a></h3>
                              <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
                            </div>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <footer class="am-cf">
    <div class="footer-tit-bg">
      <div class="w">
        <h2 class="footer-tit">
          联系我们
        </h2>
      </div>
    </div>
    <div class="w">
      <div class="footer-main am-cf">
        <h1 class="footer-log"></h1>
        <ul class="footer-info">
          <li>
            <p><i class="am-icon-volume-control-phone am-icon-fw am-icon-sm"></i> 13866668888</p>
          </li>
          <li>
            <p><i class="am-icon-envelope-o am-icon-fw am-icon-sm"></i> 13866668888@163.com</p>
          </li>
          <li>
            <p><i class="am-icon-internet-explorer am-icon-fw am-icon-sm"></i> www.dechengshengwu.com</p>
          </li>
          <li>
            <p><i class="am-icon-map am-icon-fw am-icon-sm"></i> 北京市朝阳区住邦2000一号楼三楼305室</p>
          </li>
        </ul>
        <div class="footer-form">
          <form class="am-form am-form-horizontal">
            <div class="am-form-group">
              <div class="footer-form-one am-cf">
                <label for="doc-ipt-1" class="lable-name am-form-label">姓名:</label>
                <div class="footer-input-name">
                  <input type="text" id="doc-ipt-3" placeholder="姓名">
                </div>

                <label for="doc-ipt-1" class="lable-phone am-form-label">电话:</label>
                <div class="footer-input-phone">
                  <input type="text" id="doc-ipt-3" placeholder="电话">
                </div>
              </div>

              <div class="footer-form-two am-cf">
                <label for="doc-ipt-1" class="lable-email am-form-label">邮箱:</label>
                <div class="footer-input-email">
                  <input type="text" id="doc-ipt-3" placeholder="邮箱">
                </div>
              </div>
              <div class="footer-form-two am-cf">
                <label for="doc-ipt-1" class="lable-content am-form-label">内容:</label>
                <div class="footer-input-content">
                  <input type="text" id="doc-ipt-3" placeholder="内容">
                </div>
              </div>

            </div>



            <div class="am-form-group">
              <div class="am-u-sm-2 am-u-sm-offset-7">
                <button type="submit" class="am-btn am-btn-default footer-submit">提交登入</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom">
      版权所有：江苏久成生物科技有限公司<i class="am-icon-gear am-icon-spin"></i>COPYRIGHT © 2013京ICP备09004155号
    </div>

  </footer>
  <!--
        描述：body中同样无需单独引入JS文件，webpack会根据入口JS文件自动实现按需加载或者生成script标签，还可以生成对应的hash值
    -->
</body>

</html>
