<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>久成生物-主页</title>

    <!--[if lte IE10]><script>window.location.href='https://support.dmeng.net/upgrade-your-browser.html';</script><![endif]-->
    <!--
        描述：head中无需再引入css以及facicon，webpack将根据入口JS文件的要求自动实现按需加载或者生成style标签
    -->
</head>

<body>
    <header>
        <div class="w">
            <h1 class="logo ">
                <a href="">
                    <img src="../img/asset/logo1.png">
				</a>
                <span class="company-name">北京久成生物科技有限公司</span>
            </h1>

            <nav class="head-nav">
                <ul class="head-nav-ul">
                    <li><a href="">首页</a></li>
                    <li class="checked"><a href="">关于我们</a></li>
                    <li><a href="">产品展示</a></li>
                    <li><a href="">新闻动态</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="news-main news-bg">
        <div class="start-banner">
        </div>
        <div class="bread">
            <div class="w">
                <ol class="am-breadcrumb am-breadcrumb-slash">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">新闻动态</a></li>
                    <li class="am-active">集团新闻</li>
                </ol>
            </div>
        </div>
        <div class="w ">
            <div class="news_details">
                <article class="am-article">
                    <div class="am-article-hd">
                        <h1 class="am-article-title">蛋白质组学之逆袭，深度注释基因组</h1>
                        <p class="am-article-meta">发布时间：2015-2-25 16:11:08</p>
                        <hr/>
                    </div>

                    <div class="am-article-bd">
                        
                        <p>从前，在生物学研究领域，有一个白富美叫基因组学（Genomics），她有一项强大的技能：DNA测序，凭借这项技能，她完成了对多种物种的基因组测序、定位了编码基因和确定编码基因的结构等基本的基因组注释任务。但她对基因组注释方法主要依赖于DNA及RNA序列信息。而为了更加精确地解读完成测序的基因组，单凭她一己之力是不够的，还需整合多种类型组学方法来进行基因组注释。</p>
                        <p>白富美人人想追，但这年头没啥创新点，怎能获得美人垂青？来吧，干了黄博这碗热气腾腾的鸡汤！</p>
                        <p>著名屌丝闪亮登场！名曰蛋白质组学（Proteomics），暗恋女神已多年，苦于自身并无一技之长，虽长期以来一直在女神面前狂刷存在感，但并未引起女神注意。故针对基因组学技能缺陷，潜心修炼，终获独门神技——串联质谱技术，弥补女神缺憾，终于逆袭成功。该技能实现了对蛋白质组的高覆盖，使得利用串联质谱数据进行基因组注释成为可能。串联质谱数据一方面可以对已注释的基因进行表达验证，另一方面还可以校正原注释基因，进而发现新基因，实现对基因组序列的重新注释。这样一来就很好的弥补了基因组学的不足，从而一举获得女神青睐，抱得美人归。成为生物学研究领域的史密斯夫妇，他们给自己的组合取了个很没创新性的名字——蛋白质基因组学（Proteogenomics），义指蛋白质组学与基因组学的交叉，这个交叉范围很广且可以多种方式定义，但通常是指基于串联质谱技术的蛋白质组学信息研究来提高对基因组的注释。</p>
                        <p>今年6月份，国际知名期刊Nature和Cell分别报导了这对夫妇利用自身强大技能对生物学研究领域邪恶组织成员乳腺癌和卵巢癌进行无情打击的英勇事迹。</p>
                        <p>其中在Nature题为”Proteogenomics connects somatic mutations to signalling in breast cancer”的报导中描述了对来自 “癌症基因组图集”(TCGA)、代表由mRNA定义的四个主要乳腺癌内在子类型的105个乳腺癌样本所做的基于iTRAQ联合串联质谱量化了超过12,000个蛋白质和33,000个磷酸化位点的蛋白质组学和磷酸化蛋白质组学分析。</p>
                        <p>“谁叫我们只带来一把小伞哪。”她微笑着说，一面撑起伞，准备过马路帮我寄信。从她伞骨渗下来的小雨点，溅在我的眼镜玻璃上。</p>
                        <p>“谁叫我们只带来一把小伞哪。”她微笑着说，一面撑起伞，准备过马路帮我寄信。从她伞骨渗下来的小雨点，溅在我的眼镜玻璃上。</p>
                        <p>“谁叫我们只带来一把小伞哪。”她微笑着说，一面撑起伞，准备过马路帮我寄信。从她伞骨渗下来的小雨点，溅在我的眼镜玻璃上。</p>
                    </div>
                </article>
                <div class="news_details-go">
                    <p>上一篇：<a href="">蛋白质组学之逆袭，深度注释基因组</a></p>
                    <p>下一篇：<a href="">蛋白质组学之逆袭，深度注释基因组</a></p>
                </div>
            </div>
    </section>
    <footer class="news-footer am-cf">
        <div class="footer-tit-bg">
            <div class="w">

            </div>
        </div>
        <div class="w">
            <div class="news-footer footer-main am-cf">
                <h1 class="footer-log"></h1>
                <ul class="footer-info">
                    <li>
                        <p><i class="am-icon-volume-control-phone am-icon-fw am-icon-sm"></i> 13866668888</p>
                    </li>
                    <li>
                        <p><i class="am-icon-envelope-o am-icon-fw am-icon-sm"></i> 13866668888@163.com</p>
                    </li>
                    <li>
                        <p><i class="am-icon-internet-explorer am-icon-fw am-icon-sm"></i> www.dechengshengwu.com</p>
                    </li>
                    <li>
                        <p><i class="am-icon-map am-icon-fw am-icon-sm"></i> 北京市朝阳区住邦2000一号楼三楼305室</p>
                    </li>
                </ul>
                <div class="footer-form">
                    <form class="am-form am-form-horizontal">
                        <div class="am-form-group">
                            <div class="footer-form-one am-cf">
                                <label for="doc-ipt-1" class="lable-name am-form-label">姓名:</label>
                                <div class="footer-input-name">
                                    <input type="text" id="doc-ipt-3" placeholder="姓名">
                                </div>

                                <label for="doc-ipt-1" class="lable-phone am-form-label">电话:</label>
                                <div class="footer-input-phone">
                                    <input type="text" id="doc-ipt-3" placeholder="电话">
                                </div>
                            </div>

                            <div class="footer-form-two am-cf">
                                <label for="doc-ipt-1" class="lable-email am-form-label">邮箱:</label>
                                <div class="footer-input-email">
                                    <input type="text" id="doc-ipt-3" placeholder="邮箱">
                                </div>
                            </div>
                            <div class="footer-form-two am-cf">
                                <label for="doc-ipt-1" class="lable-content am-form-label">内容:</label>
                                <div class="footer-input-content">
                                    <input type="text" id="doc-ipt-3" placeholder="内容">
                                </div>
                            </div>

                        </div>



                        <div class="am-form-group">
                            <div class="am-u-sm-2 am-u-sm-offset-7">
                                <button type="submit" class="am-btn am-btn-default footer-submit">提交登入</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            版权所有：江苏久成生物科技有限公司<i class="am-icon-gear am-icon-spin"></i>COPYRIGHT © 2013京ICP备09004155号
        </div>
    </footer>

    <!--
        描述：body中同样无需单独引入JS文件，webpack会根据入口JS文件自动实现按需加载或者生成script标签，还可以生成对应的hash值
    -->
</body>

</html>