<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>久成生物-主页</title>

  <!--[if lte IE10]><script>window.location.href='https://support.dmeng.net/upgrade-your-browser.html';</script><![endif]-->
  <!--
        描述：head中无需再引入css以及facicon，webpack将根据入口JS文件的要求自动实现按需加载或者生成style标签
    -->
</head>

<body>
  <header>
    <div class="w">
      <h1 class="logo ">
        <a href="">
                    <img src="../img/asset/logo1.png">
				</a>
        <span class="company-name">北京久成生物科技有限公司</span>
      </h1>

      <nav class="head-nav">
        <ul class="head-nav-ul">
          <li><a href="">首页</a></li>
          <li class="checked"><a href="">关于我们</a></li>
          <li><a href="">产品展示</a></li>
          <li><a href="">新闻动态</a></li>
          <li><a href="">联系我们</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="product-main">
    <div class="start-banner">
    </div>
    <div class="w">
      <div class="bread">
        <ol class="am-breadcrumb am-breadcrumb-slash">
          <li><a href="#">首页</a></li>
          <li><a href="#">产品展示</a></li>
        </ol>
      </div>
      <div class="products">
        <div class="w">
          <div class="products-goods">
            <ul class="am-avg-sm-4 am-thumbnails">
              <li class="products-good">
                <div class="products-good-img">
                  <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
                </div>
                <div class="good-img-info">
                  <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                  <div class="good-line"></div>
                </div>
                <div class="img-hover ">
                  <div class="img-hover-inner ">
                    <div class="img-hover-inner2"></div>
                  </div>
                </div>
              </li>
              <li class="products-good">
                <div class="products-good-img">
                  <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
                </div>
                <div class="good-img-info">
                  <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                  <div class="good-line"></div>
                </div>
                <div class="img-hover ">
                  <div class="img-hover-inner ">
                    <div class="img-hover-inner2"></div>
                  </div>
                </div>
              </li>
              <li class="products-good">
                <div class="products-good-img">
                  <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
                </div>
                <div class="good-img-info">
                  <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                  <div class="good-line"></div>
                </div>
                <div class="img-hover ">
                  <div class="img-hover-inner ">
                    <div class="img-hover-inner2"></div>
                  </div>
                </div>
              </li>
              <li class="products-good">
                <div class="products-good-img">
                  <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
                </div>
                <div class="good-img-info">
                  <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                  <div class="good-line"></div>
                </div>
                <div class="img-hover ">
                  <div class="img-hover-inner ">
                    <div class="img-hover-inner2"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="w">
          <div class="products-goods">
            <ul class="am-avg-sm-4 am-thumbnails">
              <li class="products-good">
                <div class="products-good-img">
                  <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
                </div>
                <div class="good-img-info">
                  <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                  <div class="good-line"></div>
                </div>
                <div class="img-hover ">
                  <div class="img-hover-inner ">
                    <div class="img-hover-inner2"></div>
                  </div>
                </div>
              </li>
              <li class="products-good">
                <div class="products-good-img">
                  <img class="" src="/static/news-one.png" />
                </div>
                <div class="good-img-info">
                  <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                  <div class="good-line"></div>
                </div>
                <div class="img-hover ">
                  <div class="img-hover-inner ">
                    <div class="img-hover-inner2"></div>
                  </div>
                </div>
              </li>
              <li class="products-good">
                <div class="products-good-img">
                  <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
                </div>
                <div class="good-img-info">
                  <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                  <div class="good-line"></div>
                </div>
                <div class="img-hover ">
                  <div class="img-hover-inner ">
                    <div class="img-hover-inner2"></div>
                  </div>
                </div>
              </li>
              <li class="products-good">
                <div class="products-good-img">
                  <img class="" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
                </div>
                <div class="good-img-info">
                  <p class="good-img-info-tit">大地阳春 - 黑枸杞蜂花粉片</p>
                  <div class="good-line"></div>
                </div>
                <div class="img-hover ">
                  <div class="img-hover-inner ">
                    <div class="img-hover-inner2"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

  </section>
  <footer class="am-cf">
    <div class="footer-tit-bg">
      <div class="w">
        <h2 class="footer-tit">
          联系我们
        </h2>
      </div>
    </div>
    <div class="w">
      <div class="footer-main am-cf">
        <h1 class="footer-log"></h1>
        <ul class="footer-info">
          <li>
            <p><i class="am-icon-volume-control-phone am-icon-fw am-icon-sm"></i> 13866668888</p>
          </li>
          <li>
            <p><i class="am-icon-envelope-o am-icon-fw am-icon-sm"></i> 13866668888@163.com</p>
          </li>
          <li>
            <p><i class="am-icon-internet-explorer am-icon-fw am-icon-sm"></i> www.dechengshengwu.com</p>
          </li>
          <li>
            <p><i class="am-icon-map am-icon-fw am-icon-sm"></i> 北京市朝阳区住邦2000一号楼三楼305室</p>
          </li>
        </ul>
        <div class="footer-form">
          <form class="am-form am-form-horizontal">
            <div class="am-form-group">
              <div class="footer-form-one am-cf">
                <label for="doc-ipt-1" class="lable-name am-form-label">姓名:</label>
                <div class="footer-input-name">
                  <input type="text" id="doc-ipt-3" placeholder="姓名">
                </div>

                <label for="doc-ipt-1" class="lable-phone am-form-label">电话:</label>
                <div class="footer-input-phone">
                  <input type="text" id="doc-ipt-3" placeholder="电话">
                </div>
              </div>

              <div class="footer-form-two am-cf">
                <label for="doc-ipt-1" class="lable-email am-form-label">邮箱:</label>
                <div class="footer-input-email">
                  <input type="text" id="doc-ipt-3" placeholder="邮箱">
                </div>
              </div>
              <div class="footer-form-two am-cf">
                <label for="doc-ipt-1" class="lable-content am-form-label">内容:</label>
                <div class="footer-input-content">
                  <input type="text" id="doc-ipt-3" placeholder="内容">
                </div>
              </div>

            </div>



            <div class="am-form-group">
              <div class="am-u-sm-2 am-u-sm-offset-7">
                <button type="submit" class="am-btn am-btn-default footer-submit">提交登入</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom">
      版权所有：江苏久成生物科技有限公司<i class="am-icon-gear am-icon-spin"></i>COPYRIGHT © 2013京ICP备09004155号
    </div>
  </footer>

  <div class="am-modal am-modal-no-btn" tabindex="-1" id="your-modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"> &nbsp;

        <a href="javascript: void(0)" class="products-modal-close  am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
      <div class="am-modal-bd">
        <img id="products-modal-img" width="100%" src="" alt="">
      </div>
    </div>
  </div>
  <!--
        描述：body中同样无需单独引入JS文件，webpack会根据入口JS文件自动实现按需加载或者生成script标签，还可以生成对应的hash值
    -->
</body>

</html>