header
{
    height: 100px;

    vertical-align: middle;
}

.logo
{
    line-height: 100px;

    float: left;

    margin: auto;
}

.company-name
{
    font-size: 24px;
    font-weight: bold;
}

.head-nav
{
    float: right;
}

.head-nav-ul
{
    list-style: none;
}

.head-nav-ul li
{
    line-height: 100px;

    float: left;

    margin: 0 30px;
}

.head-nav-ul a
{
    padding: 10px 0;

    color: #333;
    border-bottom: 3px solid #fff;
}

.head-nav-ul a:hover
{
    color: #76b260;
    border-color: #76b260;
}

.head-nav-ul li.checked a
{
    color: #76b260;
    border-color: #76b260;
}

.banner
{
    width: 100%;
    min-width: 1200px;
    min-height: 420px;
    margin: 0 auto;
}

.banner .am-slider-default
{
    margin-bottom: 0;
}

.banner .am-slider-default .am-control-nav
{
    bottom: 20px;
}

.banner .am-slider-default .am-control-nav li
{
    width: 14px;
    height: 14px;
}

.banner .am-slider-default .am-control-nav li a
{
    width: 14px;
    height: 14px;

    border: 1px solid #fff;
    background-color: transparent;
}

.banner .am-slider-default .am-control-nav li a:hover
{
    background-color: #eee;
}

.banner .am-slider-default .am-control-nav li a.am-active
{
    border: 1px solid #5bb730;
    background-color: #5bb730;
}

.banner .am-slider-default .am-direction-nav a
{
    width: 38px;
    height: 120px;
    margin: -60px 120px 0;

    vertical-align: middle;

    background-color: #3b464a;
}

.banner .am-slider-default .am-direction-nav a:before
{
    line-height: 120px!important;

    height: 120px;

    content: '\f177';

    color: #fff;
}

.banner .am-slider-default .am-direction-nav a.am-next:before
{
    content: '\F178';
}

.about
{
    position: relative;
}

.about-tit
{
    font-size: 0;

    position: absolute;
    top: -100px;

    width: 240px;
    height: 520px;

    background: url('../img/asset/about1.png') no-repeat center center;
}

.about-info
{
    margin-left: 240px;
    padding: 55px 120px 0 120px;
}

.about-info h3
{
    margin: auto;
}

.about-info h3 span
{
    font-size: 22px;
    font-weight: normal;

    padding-left: 10px;

    border-left: 5px solid #5bb730;
}

.about-more
{
    font-size: 14px;

    width: 146px;
    height: 40px;
    margin-bottom: 170px;

    color: #333;
}

.about-more:hover
{
    color: #eee;
    background-color: #5bb730;
}

.products
{
    position: relative;
    margin-bottom: 112px;
}
.products .w {
  position: relative;
}
.products-goods {
    padding-top: 170px;
}
.products-tit
{
    font-size: 0;

    position: absolute;
    top: -140px;
    right: 0;

    width: 289px;
    height: 244px;

    background: url('../img/asset/products1.png') no-repeat;
}
  .products-bg {
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    height: 410px;
    z-index: -1;
  }
  .products-goods {
    position: relative;
  }
.products-good-img {
     width: 285px;
  height: 240px;
  overflow: hidden;
}
.products-good {
    position: relative;
}
.products-good img {
  width: 285px;
  height: 240px;
  margin-bottom: auto; 
  padding: 0;  /* 可以去掉边框 */
   transition: all .35s;  
}
.good-img-info {
  width: 285px;
  height: 90px;
  
  padding:30px 0 0 24px;
  background-color: #f2f2f2;
}
.good-img-info-tit {
  font-size: 14px;
  margin: 0 0 0.6rem 0;
}
.good-line{
  width: 20px;
  border-top: 4px solid #5bb730;
}

.img-hover {
     display: none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 240px;
    background-color: rgba(51, 51, 51, .3);
    margin: 0 6px 0;
}
.img-hover-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 254px;
    height: 210px;
    border: 1px solid #5bb730;
    margin: auto;
}
.img-hover-inner2 {
    background-color: #5bb730;
    width: 43px;
    height: 43px;
     position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
        
        color: #fff;
        font-size: 29px;
        line-height: 43px;
        text-align: center;
}
.img-hover-inner2::before {
/* content: '\F067'; */
content: '+';
}
.products-good:hover img{
    transform: scale(1.1);
}
.products-good:hover .img-hover{
    display: block;
}
.products-good:hover .good-img-info{
    background-color: #5bb730;
}
.products-good:hover .good-img-info-tit{
    color: #fff;
}
.products-good:hover .good-line{
    border-color: #fff;
}
.news {
    margin-bottom: 120px;
}
.news-tit
{
    font-size: 0;
    width: 322px;
    height: 106px;
    margin: 0 auto;
    background: url('../img/asset/news1.png') no-repeat;
    margin-bottom: 82px;
}
.news-main-l {
    float: left;
    width: 390px;
    height: 350px;
}


.news .am-slider-default .am-control-nav
{
    bottom: 16px;
    text-align: right;
    padding-right: 6px;
}

.news .am-slider-default .am-control-nav li
{
    width: 12px;
    height: 12px;
    margin: 0 3px;
}

.news .am-slider-default .am-control-nav li a
{
    width: 12px;
    height: 12px;

    border: 1px solid #fff;
    background-color: transparent;
}

.news .am-slider-default .am-control-nav li a:hover
{
    background-color: #eee;
}

.news .am-slider-default .am-control-nav li a.am-active
{
    border: 1px solid #5bb730;
    background-color: #5bb730;
}

.news-main-r {
    width: 785px;
    float: right;
}
.news .am-nav-tabs {
    background: url('../img/asset/news-more--bg.png') no-repeat center right;
    border-bottom-width: 0;
}

.news .am-nav-tabs li a {
    background-color:#999;
    color: #fff; 
}
.news .am-nav-tabs li.am-active {
    /* background-color: #5bb730; */
    color: #fff;
}
.news .am-nav-tabs li.am-active a{
    background-color: #5bb730;
    color: #fff;
}
 .news .am-tabs-bd{
     border-width: 0; 
}
    .am-tabs-bd .am-tab-panel {
        padding: 0;
    }
.news-more {
    float: right;
    margin-right: 18px;
    line-height: 37px;
    font-size: 10px;
}
.news-more  a {
    color: #464646;
}

.news .am-list>li {
    border-width: 0;
}

footer {
    background: url('../img/asset/footer-bg.png') no-repeat top center;
}
.footer-tit-bg {
    width: 100%;
    height: 94px; 
    background-color: rgba(51, 51, 51, .3)
}
.footer-tit-bg .footer-tit {
    font-size: 0;
    width: 212px;
    height: 94px;
    background: url('../img/asset/contact-tit.png') no-repeat center center;
}
.footer-main {
    margin: 90px 0 52px; 
}
.footer-log {
    float: left;
    width: 239px;
    height: 120px;
    background: url('../img/asset/footer-logo.png') no-repeat center center; 
    margin: 36px 92px 50px 0;
}
.footer-info {
    float: left;
    list-style: none;
    color: #b3b4b5;
    vertical-align: middle
}
.footer-info i {
    margin-right: 30px;
}
.footer-form {
    float: right;
    width: 424px;
    height: 226px;
    padding-top: 18px;
}
.footer-form label.am-form-label {
    padding: 0;
    display: block;
    height: 37px;
    width: 37px;
    float: left;
    text-align: center;
    line-height: 37px;
    margin-right:10px;
    color: #b3b4b5;
    font-weight: normal;
}
.footer-input-name {
    margin-right: 30px;
}
.footer-form-one {
    margin-bottom: 18px;
}
.footer-form-one input ,.footer-form-one div{
    width: 136px;
    float: left;
}

.footer-input-email,.footer-input-email input,.footer-input-content,.footer-input-content input {
    width: 349px;
}

.footer-input-email,.footer-input-content {
    float: left;
}
.footer-form-two {
    margin-bottom: 18px;
}
.footer-form .am-form-group input {
    background-color: rgba(0, 0, 0, .3);
    border-color: #000
}
.footer-form .am-form-group input:focus {
    background-color: rgba(0, 0, 0, .3);
    border-color: #5bb730
}
.footer-submit {
    border-color: #000;
    color: #b3b4b5;
     background-color: rgba(49, 50, 49, .3); 
    /* background-color:linear-gradient(top,rgba(255,255,255,.3),rgba(255,255,255,0.5)); */
}
.footer-submit:hover {
    color: #b3b4b5;
    background-color: rgba(49, 50, 49, .5);
    border-color: #5bb730
}
.bottom {
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: #323232;
    color: #999;
}
.bottom i {
    margin: 0 20px;
}