
.banner
{
    width: 100%;
    min-width: 1200px;
    min-height: 420px;
    margin: 0 auto;
}

.banner .am-slider-default
{
    margin-bottom: 0;
}

.banner .am-slider-default .am-control-nav
{
    bottom: 20px;
}

.banner .am-slider-default .am-control-nav li
{
    width: 14px;
    height: 14px;
}

.banner .am-slider-default .am-control-nav li a
{
    width: 14px;
    height: 14px;

    border: 1px solid #fff;
    background-color: transparent;
}

.banner .am-slider-default .am-control-nav li a:hover
{
    background-color: #eee;
}

.banner .am-slider-default .am-control-nav li a.am-active
{
    border: 1px solid #5bb730;
    background-color: #5bb730;
}

.banner .am-slider-default .am-direction-nav a
{
    width: 38px;
    height: 120px;
    margin: -60px 120px 0;

    vertical-align: middle;

    background-color: #3b464a;
}

.banner .am-slider-default .am-direction-nav a:before
{
    line-height: 120px!important;

    height: 120px;

    content: '\f177';

    color: #fff;
}

.banner .am-slider-default .am-direction-nav a.am-next:before
{
    content: '\F178';
}

.about
{
    position: relative;
}

.about-tit
{
    font-size: 0;

    position: absolute;
    top: -100px;

    width: 240px;
    height: 520px;

    background: url('../img/asset/about1.png') no-repeat center center;
}

.about-info
{
    margin-left: 240px;
    padding: 55px 120px 0 120px;
}

.about-info h3
{
    margin: auto;
}

.about-info h3 span
{
    font-size: 22px;
    font-weight: normal;

    padding-left: 10px;

    border-left: 5px solid #5bb730;
}

.about-more
{
    font-size: 14px;

    width: 146px;
    height: 40px;
    margin-bottom: 170px;

    color: #333;
}

.about-more:hover
{
    color: #eee;
    background-color: #5bb730;
}

.products
{
    position: relative;

    margin-bottom: 112px;
}
.products .w
{
    position: relative;
}
.products-goods
{
    padding-top: 170px;
}
.products-tit
{
    font-size: 0;

    position: absolute;
    top: -140px;
    right: 0;

    width: 289px;
    height: 244px;

    background: url('../img/asset/products1.png') no-repeat;
}
.products-bg
{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 410px;

    background-color: #f2f2f2;
}
.products-goods
{
    position: relative;
    cursor: pointer;
}
.products-good-img
{
    overflow: hidden;

    width: 285px;
    height: 240px;
}
.products-good
{
    position: relative;
}
.products-good img
{
    width: 285px;
    height: 240px;
    margin-bottom: auto;
    padding: 0;  /* 可以去掉边框 */

    transition: all .35s;
}
.good-img-info
{
    width: 285px;
    height: 90px;
    padding: 30px 0 0 24px;

    background-color: #f2f2f2;
}
.good-img-info-tit
{
    font-size: 14px;

    margin: 0 0 .6rem 0;
}
.good-line
{
    width: 20px;

    border-top: 4px solid #5bb730;
}

.img-hover
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 285px;
    height: 240px;
    margin: 0 6px 0;

    background-color: rgba(51, 51, 51, .3);
}
.img-hover-inner
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 254px;
    height: 210px;
    margin: auto;

    border: 1px solid #5bb730;
}
.img-hover-inner2
{
    font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
    font-size: 29px;
    line-height: 43px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 43px;
    height: 43px;
    margin: auto;

    text-align: center;

    color: #fff;
    background-color: #5bb730;
}
.img-hover-inner2::before
{
    /* content: '\F067'; */
    content: '+';
}
.products-good:hover img
{
    transform: scale(1.1);
}
.products-good:hover .img-hover
{
    display: block;
}
.products-good:hover .good-img-info
{
    background-color: #5bb730;
}
.products-good:hover .good-img-info-tit
{
    color: #fff;
}
.products-good:hover .good-line
{
    border-color: #fff;
}
.news
{
    margin-bottom: 120px;
}
.news-tit
{
    font-size: 0;

    width: 322px;
    height: 106px;
    margin: 0 auto;
    margin-bottom: 82px;

    background: url('../img/asset/news1.png') no-repeat;
}
.news-main-l
{
    float: left;

    width: 390px;
    height: 350px;
}


.news .am-slider-default .am-control-nav
{
    bottom: 16px;

    padding-right: 6px;

    text-align: right;
}

.news .am-slider-default .am-control-nav li
{
    width: 12px;
    height: 12px;
    margin: 0 3px;
}

.news .am-slider-default .am-control-nav li a
{
    width: 12px;
    height: 12px;

    border: 1px solid #fff;
    background-color: transparent;
}

.news .am-slider-default .am-control-nav li a:hover
{
    background-color: #eee;
}

.news .am-slider-default .am-control-nav li a.am-active
{
    border: 1px solid #5bb730;
    background-color: #5bb730;
}

.news-main-r
{
    float: right;

    width: 785px;
}
.news .am-nav-tabs
{
    border-bottom-width: 0;
    background: url('../img/asset/news-more--bg.png') no-repeat center right;
}

.news .am-nav-tabs li a
{
    color: #fff;
    background-color: #999;
}
.news .am-nav-tabs li.am-active
{
    /* background-color: #5bb730; */
    color: #fff;
}
.news .am-nav-tabs li.am-active a
{
    color: #fff;
    background-color: #5bb730;
}
.news .am-tabs-bd
{
    border-width: 0;
}
.am-tabs-bd .am-tab-panel
{
    padding: 0;
}
.news-more
{
    font-size: 10px;
    line-height: 37px;

    float: right;

    margin-right: 18px;
}
.news-more  a
{
    color: #464646;
}

.news .am-list > li
{
    border-width: 0;
}
